@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* General */
:root {
	--primary: #009042;
	--secondary: #00602C;
	--text: #6D6E70;
}
* {
	font-family: 'Lato', sans-serif !important;
	letter-spacing: 0 !important;
}

/*
*	Buttons
*/
.cv-btn {
	background-color: var(--secondary) !important;
	border-radius: 5px !important;
	color: #FFFFFF !important;
	font-weight: 600;
	padding: 8px 30px;
	border: none !important;
	display: block;
	width: fit-content;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.cv-btn.--primary {
	background-color: var(--primary) !important;
}
.cv-btn.--primary:hover {
	background-color: var(--secondary) !important;
}
.cv-btn.--unfilled {
	background-color: transparent !important;
	border: 2px solid var(--primary) !important;
	color: var(--primary) !important;
}
.cv-btn.--unfilled:hover {
	background-color: var(--primary) !important;
	color: #FFFFFF !important;
}
.cv-btn.--lg {
	padding: 8px 60px;
}


/*
*	Titles
*/
.cv-title {
	position: relative;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	max-width: 600px;
	margin: 0 auto;
}
.cv-title::before {
	content: '';
	position: absolute;
	bottom: -18px;
	left: calc(50% - 40px);
	background-color: var(--primary);
	width: 80px;
	height: 4px;
}
.cv-title.text-white::before {
	background-color: #FFFFFF;
}

/*
*	Home
*/
.cv-homereviews {
	background-color: var(--secondary);
	padding: 60px 0;
}
.cv-storedata__sellers {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	margin-top: 20px;
}

@media (max-width: 992px) {
	.cv-storedata__sellers,
	.tcp-productsgrid {
		margin-top: 0;
		gap: 8px;
	}
}
