/*
*	Reglas CSS
*	
*	- Reducir al MINIMO el uso de !important
*	- Usar SIEMPRE metodologia BEM: PrefijoSegunProyecto-Bloque__Elemento --modificador
*	- Ordenar el archivo segun posicion de la seccion en la página
*	- Correcto uso de los espacios (Consultar)
*	- Solo agregar clase a los elementos cuando sea necesario. Por ejemplo, si
*	  lo unico que hay que hacer en un elemento es centrar a los hijos se puede hacer con 
*	  Bootstrap: 
*		class="d-flex align-items-center justify-content-center". 
*	  O si sabemos que  es un elemento UNICO en esa seccion como un titulo podemos usar
*	  la clase padre:
*		.padre h2 {...}
*	-
*
*/

/* General */
:root {
	--primary: #009042;
	--secondary: #00602C;
	--text: #6D6E70;
	--borders: #DDDDDD;
}
body {
	background: #F8F8F8 !important;
}
ul {
	margin-bottom: 0;
	padding-left: 0;
}
a {
	text-decoration: none;
}
p {
	margin-bottom: 0;
}
.site-main {
	padding-bottom: 0;
}
.woocommerce {
	max-width: unset !important;
}

/* 
*	Header 
*/
.tcp-header {
	background-color: var(--primary);
	box-shadow: 0px 4px 7px 0px rgba(173, 170, 169, 0.60);
	position: sticky;
	z-index: 999;
	top: 0;
}
.tcp-header__inner {
	display: flex;
	align-items: center;
	height: 56px;
	justify-content: space-between;
}
.tcp-header__nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.tcp-header__nav a,
.tcp-header__nav span {
	color: #FFFFFF;
}
.tcp-header__nav svg path {
	fill: #FFF;
}
.tcp-header__logo {
    font-size: 18px;
	color: #FFF !important;
	font-weight: 600;
	width: max-content;
}
.tcp-header__toggle {
	display: none;
}
.tcp-header__nav.--primary,
.tcp-header__nav.--secondary {
	height: 100%;
	display: flex;
	align-items: center;
	list-style: none;
	gap: 20px;
}
.tcp-header__nav.--primary a {
	font-size: 16px;
	color: #FFFFFF;
}
.tcp-header__nav.--secondary a {
	display: flex;
	align-items: center;
	gap: 11px;
	font-size: 14px;
}
.tcp-header a[class*="-btn"] {
	font-size: 12px !important;
}
.tcp-header__cart {
    position: relative;
    padding-right: 4px;
}
.tcp-header__cartcount {
	position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 100px;
    color: #FFF;
    top: -6px;
    right: -3px;
	font-size: 12px;
}

/* 
*	Footer 
*/
.tcp-footer {
	background-color: #6D6E70;
	padding: 60px 0;
}
.tcp-footer__grid {
	display: grid;
	grid-template-columns: .5fr 1fr 1fr 1fr;
}
.tcp-footer__grid section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tcp-footer__grid section:first-child {
	justify-content: start;
}

.tcp-rightsfooter {
	background-color: #222;
	padding: 5px 0;
}
.tcp-rightsfooter p {
	color: #FFF;
	font-size: 14px;
}

/*
*	Related Products
*/
.tcp-relatedproducts ul::after,
.tcp-relatedproducts ul::before {
	content: none !important;
}
.tcp-relatedproducts ul {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 1fr);
}

/*
*	Shop
*/
.tcp-productsgrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

/*
*	Cart
*/
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
}
.tcp-cart__header > div:last-child {
	padding-top: 20px;
}
.tcp-cart__header h1,
.tcp-cart__header h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 100%;
	margin-top: 16px;
}
.tcp-cart__header .col-lg-4 {
	padding-left: 0;
}
.tcp-cart__form.tcp-card {
	padding-top: 16px;
}
.tcp-cart__th {
	padding-bottom: 14px;
	border-bottom: 1px solid var(--borders);
}
.tcp-cart__productthumb {
	width: 140px;
	height: 140px;
	object-fit: cover;
}
.tcp-cart__productthumb img {
	border-radius: 5px;
}
.tcp-cart__collaterals table {
	border: none !important;
	padding: none !important;
}
.tcp-cart__collaterals table th,
.tcp-cart__collaterals table td {
	padding-left: 0 !important;
	border-bottom: 1px solid var(--borders);
}
.tcp-cart__collaterals table td {
	text-align: right;
}
.tcp-cart__coupon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
}
.tcp-cart__addcoupon {
	cursor: pointer;
	color: #444;
}
.tcp-cart__coupon input {
	width: 150px;
	border: 1px solid var(--borders);
	border-radius: 5px;
	height: 36px;
	font-size: 14px;
}
.tcp-cart__coupon button {
	max-width: 80px;
	height: 36px;
	font-size: 14px;
}
.tcp-cart__price {
	font-size: 22px;
	font-weight: 600;
	color: var(--text);
}
.tcp-cart__itemtitle {
	font-size: 18px;
	font-weight: 600;
}
.tcp-spinner {
	width: fit-content;
}
.tcp-spinner input {
	border: 1px solid var(--borders);
	border-radius: 5px;
	padding: 5px;
	width: 60px;
}
.tcp-cart__itemprice {
	font-weight: 600;
}
.tcp-cart__itemprice.--regular {
	font-size: 14px;
	color: #AEAEAE;
	text-decoration:line-through;
}
.tcp-cart__itemprice.--sale {
	font-size: 17px;
	color: #222;
}
.tcp-cart__remove,
.tcp-cart__back {
	color: #444;
}

/* 
*	Checkout 
*/
body.woocommerce-checkout {
	background-color: #FFFFFF !important;
}
.or-checkout h2 {
	font-size: 30px;
	font-weight: 500;
	color: var(--text);
}
.or-checkout__subhead {
	font-size: 16px;
	color: #6D6E70;
}
.or-checkout__customerdetails label {
	font-size: 16px;
	line-height: 24px !important;
	font-weight: 600;
	color: var(--text);
	margin-bottom: 8px;
}
.or-checkout__customerdetails input,
.or-checkout__customerdetails textarea,
.or-checkout__customerdetails .select2 {
	border: 1px solid #D9D9D9;
	color: var(--text);
	font-size: 12px;
	border-radius: 5px;
	resize: none;
	min-height: 40px;
}
.or-checkout__customerdetails .select2 {
	display: flex;
	align-items: center;
}
.select2-selection__rendered {
	color: var(--text) !important;
}
.or-checkout__customerdetails .select2-selection__arrow {
	top: 6px !important;
	right: 10px !important;
}
.or-checkout__customerdetails .select2 .select2-selection {
	border: none;
}
.or-checkout__review {
	padding: 55px 93px 130px 93px;
	margin-top: -55px;
	background-color: #F8F8F8;
	border-radius: 5px;
}
.or-checkout__review form,
.or-checkout__review table {
	border: none !important;
}
.or-checkout__review td,
.or-checkout__review th {
	border: none;
	padding: 24px 0 !important;
	color: var(--text);
}
.or-checkout__review th {
	text-align: left;
}
.or-checkout__review td {
	text-align: right;
}
.or-checkout__review tfoot tr:last-child th,
.or-checkout__review tfoot tr:last-child td {
	font-size: 18px;
}
.or-checkout__review tfoot tr:last-child th {
	text-transform: uppercase;
}
.or-checkout__review h5 {
	font-size: 22px;
	color: var(--text);
	font-weight: 600;
}

/*
*	Card
*/
.tcp-card {
	background-color: #FFFFFF;
	border: 1px solid var(--borders);
	border-radius: 5px;
	padding: 26px;
}

/*
*	Product Miniature
*/
.tcp-productmin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0 !important;
}
.tcp-productmin img {
	max-width: 100%;
}
.tcp-productmin h3 {
	font-size: 18px;
	font-weight: 600;
}
.tcp-productmin h3 a {
	color: #222;
}
.tcp-productmin__desc {
	font-size: 14px;
	color: var(--text);
	line-height: 120%;
	height: 53px;
	overflow: hidden;
}	
.tcp-product__prices {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 10px 0 14px 0;
}
.tcp-product__prices .--regular {
	text-decoration: line-through;
	color: var(--text);
	font-weight: 600;
}
.tcp-product__prices .--discount {
	font-size: 18px;
	font-weight: 600;
}
.tcp-productmin a[class*='-btn'] {
	display: block;
	width: 100%;
}

/*
*	Product View
*/
.woocommerce-product-gallery__trigger {
	display: none;
}
.woocommerce-product-gallery__image {
	height: 380px;
}
.woocommerce-product-gallery img {
	border: 1px solid var(--borders);
	border-radius: 5px;
	object-fit: contain;
	background-color: #FFF;
}
.tcp-productview__main {
	padding-top: 30px;
}
.tcp-productview__main h1 {
	font-size: 42px;
	font-weight: 900;
}
.tcp-productview__main .tcp-product__prices .--regular {
	font-size: 24px;
}
.tcp-productview__main .tcp-product__prices .--discount {
	font-size: 32px;
	font-weight: 900;
}
.tcp-productview__main a[class*='-btn'] {
	display: block;
}

/* 
* Responsive 
*/
@media (max-width: 1200px) {
	/* Header mobile */
	.tcp-header__inner {
		gap: 40px;
	}
	.tcp-header__primarynav a {
		font-size: 14px;
	}
}

@media (max-width: 992px) {
	/* Header mobile */
	.tcp-header__inner {
		justify-content: space-between;
	}
	.tcp-header__nav {
		width: fit-content;
	}
	.tcp-header__primarynav {
		display: none;
	}
	.tcp-header__toggle {
		width: 20px;
		height: auto;
		display: block;
		order: -1;
		cursor: pointer;
	}
	.tcp-header__primarynav.--active {
		width: 100%;
		height: fit-content;
		padding: 40px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0;
		position: fixed;
		top: 74px;
		left: 0;
		background-color: #FFF;
		box-shadow: 0px 4px 7px 0px rgba(173, 170, 169, 0.60);
	}
	.tcp-header__primarynav.--active li {
		border-bottom: 1px solid #DDD;
		width: 100%;
	}
	.tcp-header__primarynav.--active li:last-child {
		border: none;
	}
	.tcp-header__primarynav.--active a {
		padding: 10px;
		display: block;
	}

	/* Products Page Mobile */
	.tcp-productsgrid {
		grid-template-columns: 1fr
	}
	
	/* Footer Mobile */
	.tcp-footer__grid {
		grid-template-columns: 1fr;
		gap: 40px;
	}
	.tcp-footer__grid section:first-child {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	/* Header mobile */
	.tcp-header__cartcount {
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.tcp-header__logo img {
		width: 100px;
	}
	.tcp-header__inner {
		gap: unset;
	}
}