/*	Archivo CSS para Juan
*	
*	A tener en cuenta:
*	- NO modificar clases genericas como tcp-card, cv-btn, cv-title, etc.. si piensan que 
*	hay que modificar alguna clase de este estilo me avisan y vemos como procedemos
*	- Los tamaños y altura de los textos tiene que ser el mismo que en el diseño
*	- No modificar otro archivo que no sea este, si te parece que hace falta agregar una clase 
*	me avisan y yo la agrego o les explico como hacerlo.
*	- SOLO modificar estilos de clases que tengan el prefijo "tcp-" o "cv-" (Colchoneria Vip) o que sea
*	hija de estas.
*	- Si vas a modificar un estilo de un elemento hijo de esa clase tiene que ser MUY 
*	especifico, de lo contrario podrias modificar estilos de otros elementos.
*	- Reducir al minimo el uso de !important (Es una mala practica usarlo demasiado) ya que si
*	despues queremos pisar algun estilo no vamos a poder hacerlo sin aplicarle important tambien
*
*/
:root {
	--primary: #009042;
	--secondary: #00602C;
	--text: #6D6E70;
}

/*BANNER*/
.cv-homebanner .row h1{
    font-weight: 800;
    color: var(--primary);
    max-width: 95%;
}

.cv-homebanner .row p{
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    max-width: 95%;
    color: #000000;
}

.cv-homebanner .row .col-lg-8 {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.cv-homebanner .row .col-lg-8 span{
    font-size: 14px;
    color: var(--text);
    margin: 1rem 0 1rem 0;
}

.cv-homebanner .row .col-lg-8 a{
    background-color: var(--primary);
    color: white;
    padding: 5px 35px;
    border-radius: 5px;
    width: 11rem;
    text-align: center;
}

.cv-homebanner {
    margin: 1rem 0;
}

@media screen and (max-width:720px) {
    .cv-homebanner {
        margin: 0 0 0.5em 0;
    }
    .cv-homebanner .row .col-lg-4{
        margin-bottom: 1em;
        order: -1;
    }
    .cv-homebanner .row .col-lg-8 {
        padding: 0 1em;
    }
}
/*BENEFICIOS*/

.cv-homebeneficts .row .col-lg-4 .tcp-card{
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr; 
    padding-left: 2rem;
    height: fit-content;
    align-items: center;
    color: var(--primary);
}

.cv-homebeneficts .row .col-lg-4 .cv-card img{
    transform: scale(0.8);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 2rem;
}

.cv-homebeneficts__itembody h5{
    font-size: 16px;
    font-weight: 900;
}

.cv-homebeneficts__itembody p{
    color: #414141;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width:720px) {
    .cv-homebeneficts .row .col-lg-4{
        margin-bottom: 1rem;
    }
}

/*PRODUCTOS DESTACADOS*/
.cv-homefeatured .cv-featuredproducts {
    margin-top: 80px;
}

.tcp-productmin{
    background-color: white;
    padding: 1rem 1rem;
}

.tcp-productmin__body {
    margin: 1rem 0 0.5rem 0;
    width: -webkit-fill-available;
}

.tcp-productmin__body .cv-btn{
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: smaller;
    background-color: var(--primary);
}

.tcp-productmin__regularprice {
    color: #aeaeae;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}

.tcp-productmin__discountprice {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-left: 6px;
}

.tcp-productmin__body .d-flex {
    align-items: center;
}


/*CLIENTES*/
.cv-homereviews .container .row .col-lg-4 .tcp-card img:last-child{
    width: 120px;
    height: auto;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cv-homereviews .container .row .col-lg-4 .tcp-card p::before{
    content: '';
	position: absolute;
	bottom: 65px;
	left: calc(50% - 90px);
	background-color: #E6E6E6;
	width: 180px;
	height: 1px;
}

.cv-homereviews .container .row .col-lg-4 .tcp-card{
    text-align: center;
    position: relative;
}

.cv-homereviews .container .row .col-lg-4 .tcp-card h5{
    font-weight: 800;
    margin: 1rem 0;
}

.cv-homereviews .container .row .col-lg-4 .tcp-card p{
    font-size: 14px;
    margin-bottom: 120px;
}

@media screen and (max-width:720px) {
    .cv-homereviews{
        padding-bottom: 20px;
    }
    .cv-homereviews .container .row .col-lg-4{
        margin-bottom: 1rem;
    }
    .cv-storedata__sellers{
        grid-template-columns: repeat(1,1fr);
    }

    .cv-storedata .row .col-lg-6{
        margin-bottom: 1rem;
    }
}

/*INFORMACION TIENDA*/

.cv-storedata h2 {
    margin-top: 100px;
    margin-bottom: 4rem;
}

.cv-storedata .row .col-lg-6 .tcp-card .d-flex img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}
.cv-storedata .row .col-lg-6 .tcp-card .d-flex div{
    margin-left: 1rem;
}
.cv-storedata .row .col-lg-6 .tcp-card .d-flex div h3{
    font-weight: 900;
    color: var(--secondary);
}

.cv-storedata .row .col-lg-6 .tcp-card .d-flex div span{
    color: gray;
    display: block;
    width: 110px;
}

.cv-storedata__sellers .tcp-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cv-storedata__sellers .tcp-card img{
    border-radius: 50%;
    width: 102px;
    height: 100px;
}

.cv-storedata__sellers .tcp-card h5{
    margin-top: 1rem;
    font-weight: 800;
}

.cv-storedata__sellers .tcp-card span{
    font-size: small;
}

@media screen and (max-width:720px) {
    .cv-storedata__sellers{
        grid-template-columns: repeat(1,1fr);
    }

    .cv-storedata .row .col-lg-6{
        margin-bottom: 1rem;
    }
}