/*	Archivo CSS para Juan
*	
*	A tener en cuenta:
*	- NO modificar clases genericas como tcp-card, cv-btn, cv-title, etc.. si piensan que 
*	hay que modificar alguna clase de este estilo me avisan y vemos como procedemos
*	- Los tamaños y altura de los textos tiene que ser el mismo que en el diseño
*	- No modificar otro archivo que no sea este, si te parece que hace falta agregar una clase 
*	me avisan y yo la agrego o les explico como hacerlo.
*	- SOLO modificar estilos de clases que tengan el prefijo "tcp-" o "cv-" (Colchoneria Vip) o que sea
*	hija de estas.
*	- Si vas a modificar un estilo de un elemento hijo de esa clase tiene que ser MUY 
*	especifico, de lo contrario podrias modificar estilos de otros elementos.
*	- Reducir al minimo el uso de !important (Es una mala practica usarlo demasiado) ya que si
*	despues queremos pisar algun estilo no vamos a poder hacerlo sin aplicarle important tambien
*
*/
:root {
	--primary: #009042;
	--secondary: #00602C;
	--text: #6D6E70;
}

.site-content{
    padding: 60px 120px;
}

.cv-card{
    padding: 45px;
}

.col-lg-8 h1{
    font-weight: 800;
    color: var(--primary);
    max-width: 95%;
}

.col-lg-8 p{
    font-size: 10pt;
    max-width: 95%;
    color: #000000;
}

.cv-homebanner .row .col-lg-8 {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.cv-homebanner .row .col-lg-8 span{
    font-size: 10pt;
    color: var(--text);
    margin: 1rem 0 3rem 0;
}

.cv-homebanner .row .col-lg-8 a{
    background-color: var(--primary);
    color: white;
    padding: 5px 35px;
    border-radius: 5px;
    width: 11rem;
    text-align: center;
}

.cv-homebanner {
    margin-bottom: 1rem;
}

.cv-homebeneficts .row .col-lg-4 .cv-card{
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em; 
    height: fit-content;
    padding: 1rem;
    align-items: center;
    color: var(--primary);
}

.cv-homebeneficts .row .col-lg-4 .cv-card img{
    transform: scale(0.8);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 2rem;
}

.cv-homebeneficts__itembody h5{
    font-size: 10pt;
    font-weight: 600;
}

.cv-homebeneficts__itembody p{
    font-size: 8pt;
}

.cv-homefeatured .cv-featuredproducts .cv-title{
    margin-top: 8rem;
}

.tcp-productmin{
    background-color: white;
    padding: 1rem 1rem;
}

.tcp-productmin__body {
    margin: 1rem 0 0.5rem 0;
    width: -webkit-fill-available;
}

.tcp-productmin__body .cv-btn{
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: smaller;
    background-color: var(--primary);
}

.cv-homereviews{
    margin: 0 -120px;
    width: 100vw;
}

.cv-homereviews .container .row .col-lg-4 .cv-card img{
    border-radius: 100%;
    border: 2px solid black;
    left: 50%;
    width: 80px;
    height: auto;
}